body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background-color: #976ca8;
    color: white;
}

.details-section  {
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #dadada;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    background-color: #976ca8;
    color: white;
}   

.main-details {
    width: 80%;
    margin: 0 auto;
}

.details-title {
    width: 100%;
    padding: 15px;
    text-align: left;
}

.details-title h1 {
    font-size: 35px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.details-title h4, h6 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    margin: 0;
}

.details-title h6 {
    font-size: 13px;
}

.more-details {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 13px;
}

.more-details p {
    margin: 3px;
    padding: 3px;
}

.details-table {
    width: 50%;
}

.bigger-details-table {
    width: 100%;
    display: flex;
}

.status {
    cursor: default;
    font-size: 10px;
    font-weight: 700;
    line-height: 17px;
    padding: 4px 8px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
}

.ativa {
    background-color: #c6f4d1;
    color: #0d7627;
}
.baixada {
    background-color: rgb(105, 105, 105);
    color: rgb(255, 255, 255);
}
.nula {
    background-color: #dadada;
    color: #707070;
}

.suspensa {
    background-color: #ffe0aa;
    color: #ce8820;
}

.inapta {
    background-color: #f7b3b3;
    color: #c82f2f;
}
.matriz {
    background-color: #d4e5f9;
    color: #0a5299;
    border-radius: 10px;
}
.filial {
    background-color: rgb(241, 213, 255);
    color: rgb(78, 0, 116);
    border-radius: 10px;
}

.status-matriz {
    display: inline-block;
    gap: 10px;
    margin-top: 10px;
}
.status {
    margin-right: 10px; /* Adiciona um espaço à direita de cada span */
}
.status:last-child {
    margin-right: 0; /* Remove a margem do último span */
}

.info-section {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    background-color: #f3ebeb /*#d4ace5 */;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 15px;
    border-bottom: 2px solid #ececec;
}

.info  {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #ececec;
    background-color: white;
}

.info-header {
    background-color: #976ca8;
    color: white;
    padding: 10px;
}

.info-header h1 {
    margin-top: 0;
    margin: 0;
    font-size: 15px;
}

.info-socios {
    width: 100%;
}

.info-secondary {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.info-endereco, .info-contato {
    width: 50%;
    font-size: 14px;
}

.info-endereco {
    margin-right: 10px;
}


.info-details {
    font-size: 13px;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.socio, .endereco, .contato, .filial-matriz{
    padding: 15px;
}

.info-filial {
    margin-top: 20px;
}

.tabela {
    font-family: "Montserrat", sans-serif;
    border-collapse: separate; /* Mantém as bordas separadas */
    border-spacing:5px 0;/* Remove o espaçamento entre células */
    width: 100%;
    text-align: left;
    font-weight: 500;
}

th, td {
    padding: 8px; /* Espaçamento interno */
}

.tabela th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: black;
    font-size: 13px;
}

tr:nth-child(even) {
    background: #f3ebeb;
}

.tabela-row td {
    padding: 5px;
    font-size: 10px;
}


.tabela-row:hover {
    background-color: #976ca8;
    color: white;
    cursor: pointer;
}

.clickable-row {
    padding: 10px;
}

.alert   {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: normal;

}

.pagination-nav a {
    margin-right: 10px;
    text-decoration: none;
    padding: 2.5px 5px;
    background-color: #976ca8;
    border: 1px solid #976ca8;
    color: white;
    vertical-align: middle;
    text-align: center;
}

.page-info p {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.pagination-nav a:hover {
    background-color:  #7e548f;
}

.pagination-nav span {
    margin-right: 10px;
    text-decoration: none;
    padding: 2.5px 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #976ca8;
    color: black;
    vertical-align: middle;
    text-align: center;
}

.sub-details {
    text-align: left;
}
